---
import SectionContainer from "@components/SectionContainer.astro";
import Project from "@components/Project.astro";
import NextJSIcon from "@icons/NextJSIcon.astro";
import TailwindIcon from "@icons/TailwindIcon.astro";
import VueIcon from "@icons/VueIcon.astro";
import BootstrapIcon from "@icons/BootstrapIcon.astro";
import PythonIcon from "@icons/PythonIcon.astro";
import MongoDbIcon from "@icons/MongoDbIcon.astro";
import NodeJsIcon from "@icons/NodeJsIcon.astro";
import AwsIcon from "@icons/AwsIcon.astro";
import SpringIcon from "@icons/SpringIcon.astro";
import MySqlIcon from "@icons/MySqlIcon.astro";
import DockerIcon from "@icons/DockerIcon.astro";
import AstroIcon from "@icons/AstroIcon.astro";
import ReactIcon from "@icons/ReactIcon.astro";
import ShadcnUiIcon from "@icons/ShadcnUiIcon.astro";
import ExpressJsIcon from "@icons/ExpressJsIcon.astro";
import VercelIcon from "@icons/VercelIcon.astro";
import VitestIcon from "@icons/VitestIcon.astro";

const tags = {
  next: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJSIcon,
  },
  tailwind: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: TailwindIcon,
  },
  vue: {
    name: "Vue.js",
    class: "bg-[#35495e] text-white",
    icon: VueIcon,
  },
  bootstrap: {
    name: "Bootstrap",
    class: "bg-[#7952b3] text-white",
    icon: BootstrapIcon,
  },
  python: {
    name: "Python",
    class: "bg-[#306998] text-white",
    icon: PythonIcon,
  },
  mongodb: {
    name: "MongoDB",
    class: "bg-white text-black border-solid border border-zinc-950 dark:border-none",
    icon: MongoDbIcon,
  },
  nodejs: {
    name: "Node.js",
    class: "bg-[#68a063] text-white",
    icon: NodeJsIcon,
  },
  aws: {
    name: "AWS",
    class: "bg-white text-black border-solid border border-zinc-950 dark:border-none",
    icon: AwsIcon,
  },
  spring: {
    name: "Spring",
    class: "bg-white text-black border-solid border border-zinc-950 dark:border-none",
    icon: SpringIcon,
  },
  mysql: {
    name: "My SQL",
    class: "bg-[#00758f] text-white",
    icon: MySqlIcon,
  },
  docker: {
    name: "Docker",
    class: "bg-[#0db7ed] text-white",
    icon: DockerIcon,
  },
  astro: {
    name: "Astro",
    class: "bg-[#ff5d01] text-white",
    icon: AstroIcon,
  },
  react: {
    name: "React",
    class: "bg-[#20232a] text-white",
    icon: ReactIcon,
  },
  shadcn: {
    name: "shadcn/ui",
    class: "bg-white text-black border-solid border border-zinc-950 dark:border-none",
    icon: ShadcnUiIcon,
  },
  express: {
    name: "Express.js",
    class: "bg-white text-black border-solid border border-zinc-950 dark:border-none",
    icon: ExpressJsIcon,
  },
  vercel: {
    name: "Vercel",
    class: "bg-black text-white",
    icon: VercelIcon,
  },
  vitest: {
    name: "Vitest",
    class: "bg-[#003159] text-white",
    icon: VitestIcon,
  },
};
const projects = [
  {
    title: "ClipLink - URL Shortener",
    description:
      "A modern URL shortener built with clean architecture, leveraging Astro's islands architecture and server-side rendering for high performance. Features include Google and GitHub authentication, seamless view transitions, dark and light mode support, pagination, and a powerful search engine. Designed for scalability and optimized for an exceptional user experience. Additionally, the project includes a comprehensive suite of unit tests that ensure code reliability, maintainability, and long-term stability.",
    ui: 'https://github.com/ososuna/cliplink-ui',
    restApi: 'https://github.com/ososuna/cliplink-rest',
    link: 'https://cliplink.app',
    image: "/src/assets/img/projects/cliplink.png",
    tags: [tags.astro, tags.react, tags.shadcn, tags.express, tags.nodejs, tags.vercel, tags.tailwind, tags.mongodb, tags.docker, tags.vitest],
  },
  {
    title: "Vue Pokedex",
    description:
      "Pokedex made with Vue 3 and Bootstrap consuming PokeAPI. It has a search engine, infinite scroll and a detail page for each Pokemon. Responsive design. It is deployed on Vercel.",
    link: "https://pokedex-umber-pi.vercel.app/#/",
    github: "https://github.com/ososuna/pokedex",
    image: "/src/assets/img/projects/vue-pokedex.png",
    tags: [tags.vue, tags.bootstrap],
  },
];
---

<SectionContainer id="projects" class="py-16">
  <h2 class="text-zinc-950 dark:text-white xss:text-3xl text-2xl font-bold text-center mb-10">Projects</h2>
  <div class="lg:mx-0 mx-6">
    {
      projects.map((project) => (
        <Project
          title={project.title}
          description={project.description}
          link={project.link}
          github={project.github}
          ui={project.ui}
          restApi={project.restApi}
          image={project.image}
          tags={project.tags}
        />
      ))
    }
  </div>
</SectionContainer>
