---
import { Image } from 'astro:assets';
import ProjectLinkButton from '@components/ProjectLinkButton.astro';
import GitHubIcon from '@icons/GitHubIcon.astro';
import WebIcon from '@icons/WebIcon.astro';

interface Props {
  title: string;
  description: string;
  link?: string;
  github?: string;
  image: string;
  tags: { name: string; class: string; icon: any }[];
}

const { title, description, link, github, image, tags } = Astro.props;
---

<div class="mb-14">
  <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
    {title}
  </h3>
  <p
    class="mt-2 text-base font-normal text-gray-500 dark:text-gray-400"
  >
    {description}
  </p>
  <ul class="flex flex-wrap gap-x-2 flex-row">
    {
      tags.map((tag) => (
        <li class="mt-4">
          <span
            class={`flex gap-x-2 rounded-full text-sm ${tag.class} py-1 px-2 `}
          >
            <tag.icon class="size-4 mt-0.5" />
            {tag.name}
          </span>
        </li>
      ))
    }
  </ul>
  <Image src={`/src/assets/img/projects/${ image }`} alt="Project sample" class="mt-4" width="1920" height="1080" />
  <footer class="flex justify-center gap-x-4 items-center mt-4">
    {
      github && (
        <ProjectLinkButton href={github}>
          <GitHubIcon class="size-4 me-2" />
          Source code
        </ProjectLinkButton>
      )
    }
    {
      link && (
        <ProjectLinkButton href={link}>
          <WebIcon class="size-5 me-2" />
          Go to project
        </ProjectLinkButton>
      )
    }
  </footer>
</div>
